<div class="row">
<h1>Experiencia laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11"> 
    <!-- Hago una lista no ordenada -->
    <ul>
        <li>
            <h1>Trabajo 1</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam esse hic fugiat odio culpa, omnis, cum aliquid accusantium adipisci harum dolores minima praesentium ea. Quod repudiandae itaque id incidunt praesentium.

        </p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo 2</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam esse hic fugiat odio culpa, omnis, cum aliquid accusantium adipisci harum dolores minima praesentium ea. Quod repudiandae itaque id incidunt praesentium.

        </p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo 3</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam esse hic fugiat odio culpa, omnis, cum aliquid accusantium adipisci harum dolores minima praesentium ea. Quod repudiandae itaque id incidunt praesentium.
        </p>
    </ul>
    </div>
</div>
